In [73]:
import pandas as pd
import numpy as np
import matplotlib as plt
from copy import deepcopy

In [74]:
daily = pd.read_csv('daily_sales.csv')
monthly = pd.read_csv('monthly_sales.csv')

In [75]:
average_monthly = deepcopy(monthly)

In [76]:
average_monthly['Month'] = average_monthly['Month, Year'].str.slice(0,3)

In [77]:
average_monthly = average_monthly.groupby('Month').mean()
average_monthly = average_monthly.reindex(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dec'])
average_monthly

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Month,,,,,,,,,,,,,,,
Jan,1.419482e+06,589842.750000,355012.250000,1.397058e+06,581916.750000,345324.250000,1.393501e+06,585351.250000,347906.750000,1.375250e+06,565998.250000,336240.250000,1.349895e+06,557854.250000,336972.250000
Feb,1.462256e+06,609273.000000,361933.750000,1.446890e+06,591685.250000,358779.500000,1.429361e+06,578177.250000,357340.000000,1.387590e+06,578990.000000,348187.000000,1.357322e+06,565908.000000,349643.750000
Mar,1.427741e+06,589508.750000,353568.500000,1.393687e+06,586279.750000,352579.500000,1.387973e+06,571501.750000,343378.000000,1.368643e+06,564330.750000,334414.250000,1.334452e+06,561355.500000,334085.000000
Apr,1.432020e+06,595880.500000,365943.500000,1.438594e+06,588692.250000,356673.250000,1.373599e+06,582869.250000,350346.250000,1.379748e+06,573595.000000,348545.250000,1.358194e+06,565913.500000,342396.500000
May,1.503541e+06,627570.000000,369510.000000,1.465068e+06,603462.500000,369478.500000,1.431174e+06,595816.500000,357793.250000,1.408536e+06,593141.750000,352592.500000,1.404612e+06,586333.750000,354456.250000
Jun,1.442800e+06,613048.500000,360533.250000,1.407610e+06,587017.500000,352210.500000,1.424576e+06,582598.750000,346023.500000,1.375254e+06,562243.750000,337346.000000,1.344148e+06,566299.750000,346162.250000
Jul,1.458619e+06,601008.750000,360557.250000,1.406940e+06,599569.250000,359334.250000,1.388234e+06,585121.750000,346653.250000,1.367345e+06,568888.750000,344741.750000,1.372151e+06,566148.500000,346399.750000
Aug,1.500862e+06,626257.000000,371532.500000,1.491468e+06,634401.250000,365713.250000,1.486341e+06,613335.000000,363926.500000,1.431786e+06,609929.750000,365957.500000,1.411106e+06,605935.750000,356150.750000
Sep,1.471800e+06,613795.250000,375274.000000,1.451273e+06,610293.250000,369705.750000,1.454960e+06,588317.250000,360614.750000,1.420188e+06,604218.000000,355014.250000,1.402176e+06,591456.000000,346989.750000
Oct,1.375624e+06,581823.333333,353822.000000,1.371676e+06,574919.666667,349513.000000,1.377314e+06,566395.666667,339837.333333,1.323072e+06,566217.666667,334962.666667,1.317444e+06,548381.666667,338163.000000
Nov,1.481068e+06,616138.666667,374753.333333,1.471772e+06,604838.666667,362960.000000,1.412453e+06,595758.666667,357390.333333,1.371537e+06,578604.666667,356879.666667,1.405164e+06,570432.333333,351290.666667
Dec,1.438590e+06,591532.000000,354918.666667,1.432337e+06,581135.666667,349174.333333,1.374605e+06,574203.666667,344522.000000,1.395810e+06,573213.000000,348952.333333,1.359444e+06,566434.666667,339860.666667

In [78]:
average_monthly.to_csv('average_monthly.csv')

In [79]:
hamburger_monthly = average_monthly.drop(['CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C', 'FF-NE', 'FF-NW', 'FF-SE', 'FF-SW', 'FF-C'], axis = 1)

In [80]:
hamburger_monthly.to_csv('average_hamburger_monthly.csv')

In [86]:
monthly_hamburgers_2016 = deepcopy(monthly)

In [88]:
monthly_hamburgers_2016['Month'] = monthly_hamburgers_2016['Month, Year'].str.slice(0,3)

In [90]:
monthly_hamburgers_2016 = monthly_hamburgers_2016[0:12]

In [92]:
monthly_hamburgers_2016.set_index('Month', inplace = True, drop = True)

In [94]:
monthly_hamburgers_2016.drop('Month, Year', axis = 1, inplace = True)

In [97]:
monthly_hamburgers_2016.drop(['CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C', 'FF-NE', 'FF-NW', 'FF-SE', 'FF-SW', 'FF-C'], inplace = True, axis = 1)

In [131]:
monthly_hamburgers_2016.to_csv('monthly_hamburgers_2016.csv')

In [122]:
monthly_hamburgers_2018 = deepcopy(monthly)

In [123]:
monthly_hamburgers_2018['Month'] = monthly_hamburgers_2018['Month, Year'].str.slice(0,3)

In [124]:
monthly_hamburgers_2018 = monthly_hamburgers_2018[24:36]
monthly_hamburgers_2018

,"Month, Year",HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C,Month
24,Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758,Jan
25,Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944,Feb
26,Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698,Mar
27,Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213,Apr
28,May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381,May
29,Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726,Jun
30,Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865,Jul
31,Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962,Aug
32,Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019,Sep
33,Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113,Oct
34,Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978,Nov
35,Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130,Dec

In [125]:
monthly_hamburgers_2018.set_index('Month', inplace = True, drop = True)

In [126]:
monthly_hamburgers_2018.drop('Month, Year', axis = 1, inplace = True)

In [127]:
monthly_hamburgers_2018.drop(['CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C', 'FF-NE', 'FF-NW', 'FF-SE', 'FF-SW', 'FF-C'], inplace = True, axis = 1)

In [130]:
monthly_hamburgers_2018.to_csv('monthly_hamburgers_2018.csv')

In [209]:
hamburgers = monthly.drop(['CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C', 'FF-NE', 'FF-NW', 'FF-SE', 'FF-SW', 'FF-C'], axis = 1)

In [210]:
hamburgers['Month'] = hamburgers['Month, Year'].str.slice(0,3)

In [211]:
hamburgers['Total Sold'] = hamburgers['HM-NE'] + hamburgers['HM-SW'] + hamburgers['HM-NW'] + hamburgers['HM-SE'] + hamburgers['HM-C']

In [212]:
hamburgers_total_temp = hamburgers.drop(['HM-NE', 'HM-SW', 'HM-NW', 'HM-C', 'HM-SE'], axis = 1)

In [213]:
hamburgers_total_temp['Year'] = hamburgers_total_temp['Month, Year'].str.slice(4,6)

In [214]:
hamburgers_total = pd.pivot_table(hamburgers_total_temp, values = 'Total Sold', index = 'Month', columns = 'Year')
hamburgers_total = hamburgers_total.reindex(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dec'])

In [216]:
hamburgers_total.to_csv('hamburgers_total.csv')

In [218]:
daily['Day'] = daily['Unnamed: 0']

In [220]:
daily.drop('Unnamed: 0', inplace = True, axis = 1)

In [229]:
daily_chicken = daily.drop(['HM-NE', 'HM-SW', 'HM-NW', 'HM-SE', 'HM-C', 'FF-NE', 'FF-SW', 'FF-NW', 'FF-SE', 'FF-C'], axis = 1)

In [231]:
daily_chicken = daily_chicken.groupby('Day').mean()

In [237]:
daily_chicken = daily_chicken.reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

In [238]:
daily_chicken.to_csv('daily_chicken.csv')

In [239]:
daily_fish = daily.drop(['HM-NE', 'HM-SW', 'HM-NW', 'HM-SE', 'HM-C', 'CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C'], axis = 1)

In [241]:
daily_fish = daily_fish.groupby('Day').mean()

In [242]:
daily_fish = daily_fish.reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

In [243]:
daily_fish.to_csv('daily_fish.csv')

In [244]:
daily_hamburger = daily.drop(['CF-NE', 'CF-SW', 'CF-NW', 'CF-SE', 'CF-C', 'FF-NE', 'FF-SW', 'FF-NW', 'FF-SE', 'FF-C'], axis = 1)

In [246]:
daily_hamburger = daily_hamburger.groupby('Day').mean()

In [247]:
daily_hamburger = daily_hamburger.reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

In [248]:
daily_hamburger.to_csv('daily_hamburger.csv')